<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Cliente</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Formulario de Cliente</h1>
        <nav>
            <ul>
                <li><a href="{% url 'catalogo:customer' %}">Volver a Clientes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>{{ form.instance.pk|yesno:"Editar Cliente,Añadir Cliente" }}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
        </form>
    </main>
</body>
</html>
