<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Clientes</h1>
        <nav>
            <ul>
                <li><a href="{% url 'catalogo:index' %}">Inicio</a></li>
                <li><a href="{% url 'catalogo:add_customer' %}">Añadir Cliente</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <ul>
            {% for customer in customers %}
                <li><a href="{% url 'catalogo:info_customer' customer.id %}">{{ customer.first_name }} {{ customer.last_name }}</a></li>
            {% empty %}
                <li>No hay clientes disponibles.</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
