<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <title>{% block title %}Catálogo de Celulares{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="bg-primary text-white p-4 text-center">
            <img src="{% static 'logo_celulares.png' %}" alt="Logo">
            <h4>
                <nav class="navbar navbar-expand-lg navbar-dark navbar-primary bg-primary">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'catalogo:index' %}"><strong>Home</strong></a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="clientesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <strong>Clientes</strong>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="clientesDropdown">
                                        <li><a class="dropdown-item" href="{% url 'catalogo:customer_list' %}">Lista de Clientes</a></li>
                                        {% if user.is_authenticated %}
                                        <li><a class="dropdown-item" href="{% url 'catalogo:add_customer' %}">Nuevo Cliente</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="marcasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <strong>Marcas</strong>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="marcasDropdown">
                                        <li><a class="dropdown-item" href="{% url 'catalogo:category_list' %}">Lista de Marcas</a></li>
                                        {% if user.is_authenticated %}
                                        <li><a class="dropdown-item" href="{% url 'catalogo:add_category' %}">Nueva Marca</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="modelosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <strong>Modelos</strong>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="modelosDropdown">
                                        <li><a class="dropdown-item" href="{% url 'catalogo:product_list' %}">Lista de Modelos</a></li>
                                        {% if user.is_authenticated %}
                                        <li><a class="dropdown-item" href="{% url 'catalogo:add_product' %}">Nuevo Modelo</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'catalogo:logout' %}"><strong>Logout</strong></a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'catalogo:login' %}"><strong>Login</strong></a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </h4>
        </div>
        {% block content %}{% endblock content %}
    </div>
</body>
</html>
