<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Venta</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Formulario de Venta</h1>
        <nav>
            <ul>
                <li><a href="{% url 'catalogo:sale' %}">Volver a Ventas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>{{ form.instance.pk|yesno:"Editar Venta, Añadir Venta" }}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form.as_p }}
            {% endfor %}
            <button type="submit">Guardar</button>
        </form>
        {% if error %}
            <p style="color:red">{{ error }}</p>
        {% endif %}
    </main>
</body>
</html>
