/* Estilos para el fondo del contenedor principal */
.container-custom {
    background-color: #f0f0f0; /* Color de fondo claro */
}

/* Estilos para la barra de navegación */
.navbar-custom {
    background-color: #123456; /* Color de fondo oscuro para la barra de navegación */
}

/* Estilos para la letra en los enlaces de la barra de navegación */
.navbar-custom .nav-link {
    color: #ffffff; /* Color de letra blanco */
}

/* Estilos para la letra en los elementos del menú desplegable */
.dropdown-menu {
    background-color: #123456; /* Fondo oscuro para el menú desplegable */
}

.dropdown-menu .dropdown-item {
    color: #ffffff; /* Color de letra blanco en el menú desplegable */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #456789; /* Color de fondo al pasar el ratón sobre los ítems del menú */
}
